{% load static %}
<!DOCTYPE html>
<html lang="en">
ƒ

<head>
  <meta charset="UTF-8">
  <title>Safari Life - Check-In</title>
  <link rel='stylesheet' href='https://kit.fontawesome.com/acb1a51e7b.js'>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'profile-style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {% if success is True %}
  <link rel="stylesheet" href="{% static 'bad-check.css' %}">
  <style>
    body {
      background: #2bd349;
      /* fallback for old browsers */
      font-family: "Roboto", sans-serif;
    }
  </style>
  {% elif success is None %}
  <link rel="stylesheet" href="{% static 'bad-check.css' %}">
  <style>
    body {
      background: #ff0000;
      /* fallback for old browsers */
      font-family: "Roboto", sans-serif;
    }
  </style>
  {% else %}
  <link rel="stylesheet" href="{% static 'bad-check.css' %}">

  {% endif %}
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="login-page">
    <div class="form">
      {% if success is True %}
      <img id='check' src="{% static 'success-checkin.gif' %}" />
      <h1>{{ first_name }} Successfully Checked In on {{dropoff.event_time}}!</h1>

      {% else %}
      <img id='check' src="{% static 'bad-checkin.gif' %}" />

      <h1>Unable to check {{ first_name }} In! </h1>
      {% if duplicate_checkout is True %}
      <h2>{{ first_name }} has already been checked in yet!</h2>
      {% elif duplicate_checkout is True %}
      <h2>{{ first_name }} has already been checked in yet!</h2>

      {% endif %}

      {% endif %}
      <a id="profile-release-btn" href="{% url 'roster' %}" type="button"
        class="btn btn-dark mx-auto profile-release-btn">Back to Roster</a>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://kit.fontawesome.com/acb1a51e7b.js'></script>
  <script src="{% static 'script.js' %}"></script>

</body>

</html>