{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Safari Life - Student Releaase </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'release-style.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!DOCTYPE html>
  <html lang="en">

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Student Release</h1>
          <h class="text-center">Enter Pick-Up Pin for {{first_name}}</h3>
        </div>
      </div>
      <div class="pinpad">
        <div class="pin">
          <input id="pin" style="opacity: 0; pointer-events: none;" type="text"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); checkPinLength() "
            maxlength="4">
          <div class="pinPlaceholder">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="buttons text-center">
          <div class="row">
            <button class="numberBtn" onclick="inputAdd(1)">1</button>
            <button class="numberBtn" onclick="inputAdd(2)">2</button>
            <button class="numberBtn" onclick="inputAdd(3)">3</button>
          </div>
          <div class="row">
            <button class="numberBtn" onclick="inputAdd(4)">4</button>
            <button class="numberBtn" onclick="inputAdd(5)">5</button>
            <button class="numberBtn" onclick="inputAdd(6)">6</button>
          </div>
          <div class="row">
            <button class="numberBtn" onclick="inputAdd(7)">7</button>
            <button class="numberBtn" onclick="inputAdd(8)">8</button>
            <button class="numberBtn" onclick="inputAdd(9)">9</button>
          </div>
          <div class="row">
            <button class="numberBtn" onclick="inputAdd(0)">0</button>
            <button class="backspaceBtn" onclick="backspace();">
              <i class="fas fa-backspace"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="container pinpad-container row">
        <button id="btn" class="submit-button">
          <p id="btnText">Submit</p>
          <div class="check-box">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
              <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
          </div>
        </button>
      </div>
      <div class="row">
        <a id="profile-release-btn" href="{% url 'roster' %}" type="button"
          class="btn btn-dark mx-auto profile-release-btn">Back to Roster</a>
      </div>
    </div>
  </body>

  </html>
  <!-- partial -->
  <script src="{% static 'release-script.js' %}"></script>

</body>

</html>