* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #2c2c2c;
}

body a {
    color: inherit;
    text-decoration: none;
}

.btn {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #2c2c2c;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn:last-child {
    margin-right: 0;
}

.profile-release-btn {
    width: 345px;
    position: relative;
    top: 400px;
        margin: 5px;
        color: #fff !important;
}

.btn:hover,
.btn.js-active {
    color: #fff;
    background-color: #2c2c2c;
}

.header {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.header__title {
    margin-bottom: 30px;
    font-weight: 500;
}

.content {
    max-width: 700px;
    margin: auto;
}

.content__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.content__inner {
    width: 375px;
    height: 720px;
    margin: auto;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.tabs {
    position: relative;
    padding: 15px;
    height: 720px;
    overflow: scroll;
}

.tabs__nav {
    position: relative;
}

.tabs__nav-decoration {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.2s linear 0s, transform 0.2s ease-out 0s;
    background-color: #119da4;
    border-radius: 3px;
    z-index: 1;
}

.tabs__nav-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    z-index: 5;
}

.tabs__nav-item {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding: 15px;
    cursor: pointer;
}

.tabs__nav-item.js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.05s;
    color: #fff;
}

.tabs__panels {
    position: relative;
    margin-top: 30px;
}

.tabs__panel {
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
    transform: scale(0.8);
    width: 100%;
    opacity: 0;
}

.tabs__panel.js-active {
    transition: all 0.25s linear 0s;
    transform: scale(1);
    opacity: 1;
}
.student-detail-line {
    display: block;
}
.tabs__panel-card {
    display: block;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.tabs__panel-card:last-child {
    margin-bottom: 0;
}

.tabs__panel-card--spaced-between {
    justify-content: space-between;
}

.tabs__panel-avatar {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .15);
}

.tabs__panel-img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

.tabs__panel-content {
    width: 100%;
    margin-left: 30px;
}

.tabs__panel-content:first-child {
    margin-left: 0;
}

.tabs__panel-content:not(:last-child) {
    margin-right: 30px;
}

.student-detail-line {
    display: block;
    width: 100%;
}

.status_dot {
    height: auto;
    width: 5%;
}

.tabs__panel-content:before,
.tabs__panel-content:after {
    display: block;
    width: 100%;
    height: 20px;
    content: '';
    background-color: rgba(0, 0, 0, .15);
}

.tabs__panel-content:before {
    margin-bottom: 15px;
}