body {
background-color: #e1f1f6;
font-family: 'Montserrat Alternates', sans-serif !important;
  color: #222;
}

.page {
  margin: 50px auto;
  width: 70%;
  background-color: #fff;
  border-radius: 5px;
  padding: 50px;
}

.page-header {
  margin-bottom: 20px;
}

#brand-logo {
  width: 545px;
  height: auto;
}

.student-name {
  font-size: 30px;
  margin-bottom: 12px;
}
.page-header h2 {
  float: left;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}
.pagination__list {
  padding-bottom: 12px;
}
#myInput {

  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}



#myUL li a:hover:not(.header) {
  background-color: #eee;
  /* Add a hover effect to all links, except for headers */
}

.page-header .student-search {
  float: right;
}

.page-header .student-search input {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 8px 15px;
  font-size: 14px;
}

.page-header .student-search button {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 8px 15px;
  font-size: 14px;
  background-color: #4ba6c3;
  color: #fff
}

.btn-container {
  width: 720px;
}

.student-item {
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.student-details {
  width: 100%;
  float: left;
}

.student-details .avatar {
  width: 40px;
  height: auto;
  border-radius: 20px;
  float: left;
  margin-right: 14px
}

.student-details h3 {
  margin: 4px 0 2px 0;
  font-weight: bold;
  color: #4ba6c3;
}

.student-details .email {
  color: #888;
  font-size: 14px;
}


.joined-details {
  width: 50%;
  float: left;
  text-align: right;
}

.joined-details .date {
  margin-top: 15px;
  display: block;
  font-size: 14px;
  color: #999;
}

.student-item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.pagination {
  margin: 40px 0 0 0;
  text-align: center;
}

.pagination li {
  display: inline;
  cursor: pointer;
}

.pagination li span {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  color: #4ba6c3;
}

.pagination li span.active,
.pagination li span:hover {
  background-color: #4ba6c3;
  color: #fff;
}

/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.student__search {
  float: right;
}