{% extends 'includes/base.html' %}
{% load static %}

{% block title %} Safari Life - {{title}} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'report-manager.css' %}"> {% endblock %}
{% block content %}
<div class="page">

    <body class="bg-dark">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'roster' %}">Back to Roster</a>
                </li>
            </ul>
        </nav>
        <div class="container bg-light p-4 my-4 flex">
            <form class="form-horizontal" method="post" action="{% url 'report-manager' %}">
                {% csrf_token %}
                <div class="text-center">
                    <h1>Report Manager</h1>
                    <hr>
                    <div class='report-description'>
                        <h2>Choose a report to run</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id molestie nulla, non imperdiet
                            ex. Praesent sit amet ante
                            sagittis, elementum lorem sit amet, ultrices tortor. Nulla in erat ac velit pretium
                            dignissim. Nullam vestibulum sit
                            amet sapien id tristique. Sed et lorem aliquet, semper sem at, venenatis quam. Aenean
                            gravida ultricies tincidunt. Ut ut
                            facilisis odio. Morbi dapibus justo eget magna elementum sollicitudin. Integer hendrerit
                            ipsum eu hendrerit commodo.
                            Nulla eget velit eget dui porttitor laoreet. Nullam porta sit amet dolor a accumsan. Nulla
                            faucibus tortor id tincidunt
                            porta. Aenean a lacinia ipsum.</p>

                        <p>In ac ipsum massa. Vivamus hendrerit neque sit amet malesuada convallis. Aenean pretium urna
                            vel leo maximus, vel
                            vestibulum arcu dignissim. Donec nisl est, feugiat ac mauris vehicula, porta hendrerit quam.
                            Aenean eu est dapibus,
                            vestibulum nisl sit amet, imperdiet purus. In hac habitasse platea dictumst. Sed vulputate
                            velit non mauris luctus, sit
                            amet vehicula nunc mattis. Phasellus gravida pulvinar viverra. Aliquam tempor quam id erat
                            vulputate, in fringilla
                            libero facilisis. Morbi faucibus placerat volutpat. Cras imperdiet et odio nec rhoncus.
                            Mauris sagittis ut arcu aliquet
                            vestibulum. In et velit commodo, dignissim justo quis, suscipit ante.</p>

                        {{ form.as_p }}
                        <input id="report-launch-btn" type="submit" value="Launch Report Builder"
                            class="btn btn-primary">
                    </div>

            </form>
            {% endblock %}
            {% block scripts %}
            <script src="{% static 'report-manager.js' %}" async></script>{% endblock %}