{% extends 'includes/base.html' %}
{% load static %}

{% block title %} <title>Safari Life - {{title}} </title> {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'report-manager.css' %}"> {% endblock %}
{% block content %}
<div class="page">

    <body class="bg-dark">
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'roster' %}">Back to Roster</a>
                </li>
            </ul>
        </nav>
        <div class="container bg-light p-4 my-4 flex">
            <form class="form-horizontal">
                {% csrf_token %}
                <h1>Report Manager</h1>
                <hr>
                <fieldset>
                    <!-- Form Name -->
                    <legend>Student Profile</legend>
                    <div class="container col-sm-6">
                        <!-- Text input-->
                        <div class="form row form-group">
                            <label class="col-sm-4 control-label col-form-label" for="fname">Student First
                                Name</label>
                            <div class="col-sm-8">
                                <input id="fname" name="fname" type="text" placeholder="Student First Name"
                                    class="form-control" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="row form-group">
                            <label class="col-sm-4 control-label col-form-label" for="lname">Student Last
                                Name</label>
                            <div class="col-sm-8">
                                <input id="lname" name="lname" type="text" placeholder="Student Last Name"
                                    class="form-control" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="row form-group">
                            <label class="col-sm-4 control-label" for="email">Guardian Name</label>
                            <div class="col-sm-8">
                                <input id="email" name="email" type="text" placeholder="Guardian Name"
                                    class="form-control" required="">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="row form-group">
                            <label class="col-sm-4 control-label" for="phone">Student ID</label>
                            <div class="col-sm-8">
                                <input id="phone" name="phone" type="text" placeholder="Student ID" class="form-control"
                                    required="">

                            </div>
                        </div>
                        <div class="panel bg-info p-3 my-3"> <button data-toggle="collapse" href="#collapse"
                                class="btn">Customer Details
                                (optional) +</button>
                            <div id="collapse" class="container collapse">
                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label" for="address1">Address 1</label>
                                    <div class="col-sm-8">
                                        <input id="address1" name="address1" type="text" placeholder="Address 1"
                                            class="form-control">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label" for="address2">Address 2</label>
                                    <div class="col-sm-8">
                                        <input id="address2" name="address2" type="text" placeholder="Address 2"
                                            class="form-control">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label" for="city">City</label>
                                    <div class="col-sm-8">
                                        <input id="city" name="city" type="text" placeholder="City"
                                            class="form-control">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label" for="zip">Zip</label>
                                    <div class="col-sm-8">
                                        <input id="zip" name="zip" type="text" placeholder="Zip" class="form-control">

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label" for="dob">D.O.B.</label>
                                    <div class="col-sm-8">
                                        <input id="dob" name="dob" type="text" placeholder="Date of Birth"
                                            class="form-control">

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Multiple Checkboxes -->
                    <div class="container">
                        <legend>
                            Report Options
                        </legend>
                        <div class="container col-sm-6">
                            <div class="row form-group">
                                <label class="control-label col-sm-4" for="details">Details</label>
                                <div class="col-sm-8">
                                    <label class="checkbox form-check" for="details-0">
                                        <input type="checkbox" name="details" id="details-0" value="late-pick-ups">
                                        Late Pick-Ups
                                    </label>
                                    <label class="checkbox form-check" for="details-1">
                                        <input type="checkbox" name="details" id="details-1" value="early-departures">
                                        Early Departures
                                    </label>
                                    <label class="checkbox form-check" for="details-2">
                                        <input type="checkbox" name="details" id="details-2" value="absences">
                                        Absences
                                    </label>
                                </div>
                            </div>

                            <!-- Multiple Radios -->
                            <div class="row form-group">
                                <label class="col-sm-4 control-label" for="type">Report Range</label>
                                <div class="col-sm-8">
                                    <label class="radio form-check" for="type-0">
                                        <input type="radio" name="type" id="type-0" value="Single Use"
                                            checked="checked">
                                        Single Use
                                    </label>
                                    <label class="radio form-check" for="type-1">
                                        <input type="radio" name="type" id="type-1" value="Recurring">
                                        Recurring
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                </fieldset>
                <div class="col-sm-4 offset-sm-4">
                    <input class="btn btn-primary" type="submit" value="submit">
                </div>

            </form>
        </div>
        {% endblock %}
        {% block scripts %}
        <script src="{% static 'report-manager.js' %}" async></script>{% endblock %}