{% extends 'includes/base.html' %}
{% load static %}

{% block title %} Safari Life - Student Profile - {{student.last_name}}, {{student.first_name}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'profile-style.css' %}">{% endblock %}
{% block content %}
    <div class="content">
        <div class="content__inner">
            <div class="tabs">
                <div class="tabs__nav">
                    <ul class="tabs__nav-list">
                        <li class="tabs__nav-item js-active">Student Profile</li>
                        <li class="tabs__nav-item">Pick-Ups</li>
                        <li class="tabs__nav-item">Drop-Offs</li>
                    </ul>
                </div>
                <div class="tabs__panels">
                    <!--single panel-->
                    <div class="tabs__panel">
                        <h3>{{student.last_name}}, {{student.first_name}}{% if student.in_care is True%}
                            <img class="status_dot" src="{% static 'in_care_icon.png' %}" />
                            {% else %}
                            <img class="status_dot" src="{% static 'not_in_care_icon.png' %}" />
                        </h3>
                        {% endif %}
                        <br />
                        <h4>Student Details</h4>
                        <div class="tabs__panel-card">
                            <div class="student-detail-line"><strong> Date of Birth: </strong> {{student.date_of_birth}}</div>
                            <div class="student-detail-line"><strong> Student ID: </strong> {{student.student_id}}</div>
                            <div class="student-detail-line"><strong> Care Facility: </strong> {{facility.facility_type}} -
                                {{facility.facility_city}}</div>
                            </div>
                    <h4>Guardian Details</h4>
                    <div class="tabs__panel-card">
                                                <div class="student-detail-line"><strong> Guardian: </strong> {{student.guardian}}</div>
                                                <div class="student-detail-line"><strong> Address: </strong><br /> {{student.address}} {{student.city}},
                                                    {{student.state}}
                                                </div>
                                                <div class="student-detail-line"><strong> Phone: </strong> {{student.contact_number}}</div>
                                                </div>
                                                
                                                </div>
                    <!--single panel-->
                    <div class="tabs__panel">
                        <h4>Pick-Ups</h4>
                    </div>
                    <!--single panel-->
                    <div class="tabs__panel">
                    <h4>Dropoffs</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Drop-Off ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in dropoffs %}
                            <tr>
                                <td>{{event.event_id}}</td>
                                <td>{{event.event_date}}</td>
                                <td>{{event.event_time}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div>
                        <a id="profile-release-btn" href="{% url 'roster' %}" type="button"
                            class="btn btn-dark mx-auto profile-release-btn">Back to Roster</a>
                        <a id="profile-release-btn" type="button" class="btn btn-primary mx-auto profile-release-btn">Edit Student
                            Details</a>
                        <a id="profile-release-btn" type="button" class="btn btn-danger mx-auto profile-release-btn">Edit Pick-Up
                            Pin</a>
                        {% if student.in_care is False %}
                <a id="profile-release-btn" href="{% url  'checkin' pk=student.pk %}" type="button"
                    class="btn btn-info mx-auto profile-release-btn">Check-In Student</a>
                {% else %}
                <a id="profile-release-btn" href="{% url 'check_student_out' pk=student.pk %}"type="button" class="btn btn-warning mx-auto profile-release-btn">Release
                    Student</a>
                {% endif %}
                </div>
        </div>

    </div>
    {% endblock %}
    <!-- partial -->
{% block scripts %}
<script src="{% static 'profile-script.js' %}"></script> {% endblock %}

</body>

</html>