{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Safari Life - {{title}} </title>

  <link rel="stylesheet" href="{% static 'roster-style.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/58e27c88da.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"></script>


    <script>


      function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("h3")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
</script>


</head>

<body>
  <div class="container">
    <div class="page">
        <div id="image_header" class="brand-header text-center">
          <img id="brand-logo" src="{% static 'safari-life.png' %}" class="img-responsive" alt="Safari Life Logo" class="logo">
          <strong>
            <h1> Daycare Management System</h1>
          </strong>
        </div>
        <label for="searchbox">Search</label>
        <div>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
          <button type="button" class="btn btn-success">Add Student</button>
          <div class="btn-group">
            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reporting
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="{% url 'basic-report' %}" class="btn btn-link" data-toggle="largeModal" data-target="#largeModal">Basic
                Report</a>
            
              <div class="dropdown-divider"></div>
              <a class=" btn btn-link" href="{% url 'detailed-report' %}">Detailed Report</a>
              </div>
              </div </div>
              <div class="page-header cf">
                <h4>Total In Care: {{total_in_care}} </h4>
                <h4>Total Not In Care: {{total_not_in_care}} </h4>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link tab active" id="all" aria-current="page" href="#">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab" id="in_care" href="#">In Care</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab" id="not_in_care" href="#">Not In Care</a>
                </li>

        </ul>
        <!-- Studen DTL Goes herde -->
        <ul class="student-list" id="myUL">
          {% for student in students %}
          {% if student.in_care is True%}
          <div class="row ">
            <li class="student-item in_care cf">
              <div class=" col student-details">
                <h3 class="student-name">{{student.first_name}} {{student.last_name}}</h3>
              </div>
              <div class="col btn-container">
                <a href="{% url 'student_details' pk=student.pk %}" type="button" class="btn btn-success">Student
                  Details</a>
                <a href="{% url 'check_student_out' pk=student.pk %}" type="button" class="btn btn-warning">Release
                  Student</a>
                </div>

          </div>
          </li>
          {% elif student.in_care is False %}
          <div class="row">
            <li class="student-item not_in_care cf">
              <div class=" col student-details">
                <h3 class="student-name">{{student.first_name}} {{student.last_name}}</h3>
              </div>
              <div class="col btn-container">
                <a href="{% url 'student_details' pk=student.pk %}" type="button" class="btn btn-success">Student
                  Details</a>
                <a type="button" href="{% url  'checkin' pk=student.pk %}" class="btn btn-info">Check-In Student</a>
                </div>

          </div>
          </li>
          {% endif %}
          {% endfor %}
          </ul>
          <div class="pagination">
            <ul class="pagination__list">

          </ul>
        </div>
      </div>
    </div>
    </div>

  </body>
  <!-- partial -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script src="{% static 'roster-script.js' %}" async></script>



</body>

</html>