
{% extends 'includes/base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Safari Life - Daycare Management System</title>
	<!-- <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> -->
    {% block styles %} 

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		    <script src="https://kit.fontawesome.com/58e27c88da.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
</head>
{% block content %}

<body>
	<!-- partial:index.partial.html -->
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<h1>Safari Life</h1>
				<h2> Daycare Management System</h2>
				<span>

				</span>
			</div>
		</div>
		<div id="messages"
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<div class="alert {% if message.tags %}alert-{{ message.tags }}" {% endif %}>
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	</div>

		<div class="right">
			<h5>Login</h5>
			<form action="{% url 'login' %}" method="post"/>
			{% csrf_token %}
			<div class="inputs">
				<input type="text" name="username" placeholder="user name">
				<br>
				<input type="password" name="password" placeholder="password">
			</div>

			<br><br>

			<div class="remember-me--forget-password">
				<!-- Angular -->
				<label>
					<input type="checkbox" name="remeber-me" checked />
					<span class="text-checkbox">Remember me</span>
				</label>
				<a href="#"></a><p>forget password?</p></a>
			</div>

			<br>
			<button type="submit">Login</button>
		</div>

	</div>
	<!-- partial -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
  integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
{% endblock %}

</html>