body {
    color: #666;
    font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.tabs {
    max-width: 538px;
}

.tabs-nav li {
    float: left;
    width: 50%;
}

.tabs-nav li:first-child a {
    border-right: 0;
    border-top-left-radius: 6px;
}

.tabs-nav li:last-child a {
    border-top-right-radius: 6px;
}

a {
    background: #eaeaed;
    border: 1px solid #cecfd5;
    color: #0087cc;
    display: block;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    text-decoration: none !important;
}

.container.bg-light.p-4.my-4.flex {
    display: flex;
    flex-direction: column;
}

a:hover {
    color: #ff7b29;
}

.tab-active a {
    background: #fff;
    border-bottom-color: transparent;
    color: #2db34a;
    cursor: default;
}

.tabs-stage {
    border: 1px solid #cecfd5;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
}

li {
    list-style-type: none;
}