@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #e3ebfe;
  display: block;
  justify-content: center;
  align-items: center;
  position: rel auto;
}

.submit-button {
  width: 270px;
  margin-top: 35px;
  height: 80px;
  border: none;
  outline: none;
  background: transparent;
  color: red;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  left: -30px;
  overflow: hidden;
  cursor: pointer;
  border: 1px red solid;
}

.check-box {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.check-box svg {
  width: 40px;
  margin: 20px;
}

svg path {
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

.active {
  background: #ff2b75;
  transition: 1s;
}

.active .check-box {
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p {
  margin-right: 125px;
  transition: 1s;
}

.active svg path {
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  outline: none;
}

.pinpad .numberBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  border: 1px red solid;
  background: transparent;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
  color: red;
}

.pinpad .numberBtn:active {
  transition: none;
  background: red;
}

.pinpad .buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.pinpad .buttons .row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.pinpad {
  width: 220px;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.pinPlaceholder {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.pinPlaceholder span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  margin-top: 20px;
  border: 1px red solid;
  background: none;
  border-radius: 50%;
  transition: 0.2s;
}

.pin * {
  text-align: center;
  font-size: 31px;
}

.pin input {
  width: 76px;
  text-align: left;
  border: none;
  backgroung: transparent;
}

.pinpad .backspaceBtn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 30px;
  color: red;
  background: transparent;
  border: none;
}